html,body,header, .view {
    background-image: url(../images/carousel/78.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.rgba-stylish-strong {
    background-color: rgba(62,69,81,.5);
}
.btn-floating {
    width: 38px;
    height: 38px;
    color: white !important;
    background-color:blue;
    border-radius: 50%;
    font-size: 19px;
    margin: 10px;
}
.btn-fb {
    background-color: #3b5998 !important;
}
.btn-tw {
    background-color: #55acee !important;
}
.btn-li {
    background-color: #0082ca !important;
}
.btn-git {
    background-color: #333 !important;
}