/* @extend display-flex; */
display-flex, .wizard, .actions, .actions ul, .actions ul li a .zmdi {
  display: flex;
  display: -webkit-flex; }

/* @extend list-type-ulli; */
list-type-ulli, .actions ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* Montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat/Montserrat-Light.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Italic.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/montserrat/Montserrat-BoldItalic.ttf");
  /* IE9 Compat Modes */ }
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/montserrat/montserrat-v12-latin-900.ttf"), url("../fonts/montserrat/montserrat-v12-latin-900.eot") format("embedded-opentype"), url("../fonts/montserrat/montserrat-v12-latin-900.svg") format("woff2"), url("../fonts/montserrat/montserrat-v12-latin-900.woff") format("woff"), url("../fonts/montserrat/montserrat-v12-latin-900.woff2") format("truetype"); }
a:focus, a:active {
  text-decoration: none;
  outline: none;
  transition: all 300ms ease 0s;
  -moz-transition: all 300ms ease 0s;
  -webkit-transition: all 300ms ease 0s;
  -o-transition: all 300ms ease 0s;
  -ms-transition: all 300ms ease 0s; }

input, select, textarea {
  outline: none;
  appearance: unset !important;
  -moz-appearance: unset !important;
  -webkit-appearance: unset !important;
  -o-appearance: unset !important;
  -ms-appearance: unset !important; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  -o-appearance: none !important;
  -ms-appearance: none !important;
  margin: 0; }

input:focus, select:focus, textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important; }

input[type=checkbox] {
  appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -webkit-appearance: checkbox !important;
  -o-appearance: checkbox !important;
  -ms-appearance: checkbox !important; }

input[type=radio] {
  appearance: radio !important;
  -moz-appearance: radio !important;
  -webkit-appearance: radio !important;
  -o-appearance: radio !important;
  -ms-appearance: radio !important; }

.clear {
  clear: both; }

body {
  font-size: 14px;
  line-height: 1.6;
  color: #222;
  font-weight: bold;
  font-family: 'Montserrat';
  margin: 0px;
  background: #00a7f6;
  position: relative;
  padding: 0px; }

.main {
  padding: 410px 0;
  position: relative;
  z-index: 99; }

.container {
  width: 665px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px; }

.finished {
  background: #0184d2; }
  .finished .container {
    display: none; }
  .finished h1 {
    text-align: center;
    font-size: 36px;
    color: #fff;
    font-weight: bold; }

.signup-form {
  position: relative; }
  .signup-form .steps {
    display: none; }

.disabled {
  display: none; }

label {
  font-size: 20px;
  display: block;
  width: 100%;
  font-family: 'Montserrat'; }

input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 3px solid #ebebeb;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  padding-top: 30px;
  padding-bottom: 3px;
  -webkit-appearance: none; }
  input:focus + .form-label {
    top: 4px;
    font-size: 13px;
    font-weight: 500;
    color: #999; }
  input:invalid + .form-label {
    display: block; }

.form-label {
  position: absolute;
  transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  -ms-transition: 0.25s ease;
  left: 0;
  top: 7px; }

label.error {
  display: block;
  position: absolute;
  top: 0px;
  right: 0; }
  label.error:after {
    font-family: 'Material-Design-Iconic-Font';
    position: absolute;
    content: '\f1f4';
    right: 0px;
    top: 30px;
    font-size: 18px;
    color: #e10000; }

.form-label-error {
  color: #e10000; }

input.error {
  border-bottom: 3px solid #e10000; }

input.error + .form-label {
  top: 4px;
  font-size: 12px;
  font-weight: 500; }

input.valid + .form-label {
  top: 4px;
  font-size: 12px;
  font-weight: 500;}

fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
  position: relative; }

.wizard {
  justify-content: space-between;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-justify-content: space-between;
  padding: 0 15px 0 55px; }

.content {
  width: 334px;
  padding-bottom: 25px; }

.actions {
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center; }
  .actions ul {
    margin: 0 -5px; }
    .actions ul li {
      padding: 0 5px; }
      .actions ul li a {
        font-size: 50px;
        text-decoration: none; }
        .actions ul li a .zmdi {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          align-items: center;
          -moz-align-items: center;
          -webkit-align-items: center;
          -o-align-items: center;
          -ms-align-items: center;
          justify-content: center;
          -moz-justify-content: center;
          -webkit-justify-content: center;
          -o-justify-content: center;
          -ms-justify-content: center; }

.zmdi-chevron-right {
  color: #fff;
  background: #00a7f6; }

.zmdi-chevron-left {
  color: #999;
  background: #ebebeb; }

.form-error .zmdi-arrow-right {
  color: #e10000; }

.field-icon {
  font-size: 18px;
  position: relative;
  z-index: 2;
  float: right;
  margin-top: -29px; }

.footer {
  background: #0184d2;
  position: absolute;
  width: 100%;
  z-index: 9;
  bottom: -115px; }

.footer-0 {
  height: 188px; }

.footer-1 {
  height: 376px; }

.footer-2 {
  height: 564px; }

.footer-3 {
  height: 752px; }

#steps-uid-0-p-4 {
  padding-bottom: 16px; }



@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 40px);
    max-width: 100%; } }


